*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  font-size: 14px 
.container
  width: 1170px
  margin: auto
.btn
  color: #fff
  font-size: 15px
  font-weight: 400
  padding: 11px 32px
  &:hover
    cursor: pointer
.section
  &-title
    font-size: 20px
    font-weight: 700