*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  font-size: 14px 
.container
  width: 1170px
  margin: auto
.btn
  background: transparent
  color: #fff
  border: 2px solid #fff
  font-size: 15px
  font-weight: 400
  padding: 11px 32px
  &:hover
    cursor: pointer
    background: darken($main-color, 12%)