* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container {
  width: 1170px;
  margin: auto;
}

.btn {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  padding: 11px 32px;
}

.btn:hover {
  cursor: pointer;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
}

.section-title_big {
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}

.section-subtitle {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #86878b;
  text-align: center;
  margin-bottom: 80px;
}

.nav {
  background-color: #000000;
}

.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0;
}

.nav__link {
  color: #fff;
  opacity: .69;
  text-decoration: none;
  margin-left: 48px;
  font-weight: 400;
}

.nav-links {
  margin: auto 0;
}

.header {
  background-color: #9a9a9a;
  padding: 110px 0 140px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: block;
  margin-bottom: 30px;
}

.header__title {
  position: relative;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 82px;
}

.header__title:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 70px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #777;
          box-shadow: 0 0 5px #777;
  top: 120px;
  left: 0;
}

.header__subtitle {
  color: #fff;
  opacity: .8;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 44px;
  max-width: 470px;
}

.header-btn {
  background: transparent;
  border: 2px solid #fff;
}

.header-btn:hover {
  background: #7b7b7b;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px #777;
          box-shadow: 0 0 5px #777;
}

.header-form__title {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 54px;
  background-color: #f5f5f5;
  border-radius: 3px 3px 0 0;
}

.header-form__input {
  margin: 36px 44px 0;
  padding: 10px 14px;
  border: none;
  border-bottom: 1px solid #86878b;
}

.header-form__input:first-of-type {
  margin: 29px 44px 0;
}

.header-form__input:last-of-type {
  margin: 48px 44px;
}

.header-form__button {
  background-color: #ff8b38;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 20px 140px;
  border: none;
  border-radius: 0 0 3px 3px;
}

.header-form__button:hover {
  cursor: pointer;
  background: #fa6800;
}

.social {
  padding: 22px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__title {
  margin: 0 0 12px;
}

.social-text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 360px;
  color: #86878b;
}

.social__icon {
  height: 50px;
  margin-left: 50px;
}

.social__icon:first-of-type {
  margin-left: 0;
}

.social__icons {
  margin: auto 0;
}

.about {
  padding: 147px 0 114px;
  background-color: #f5f5f5;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -10px;
}

.about-tabs__item {
  width: 112px;
  height: 112px;
  background-color: #333333;
  border: none;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.about-tabs__item:first-of-type {
  border-radius: 4px 4px 0 0;
}

.about-tabs__item:last-of-type {
  border-radius: 0 0 4px 4px;
}

.about-tabs__item-active {
  background-color: #ff8b38;
}

.about__title {
  margin-bottom: 52px;
}

.about-text {
  max-width: 475px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #86878b;
}

.about-btn {
  margin-top: 45px;
  border: none;
  border-radius: 3px;
  background-color: #ff8b38;
}

.about-btn:hover {
  background: #fa6800;
}

.about-img {
  margin: auto 0;
  max-height: 250px;
}

.sublist {
  padding: 105px 0 130px;
}

.sublist-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sublist-photo {
  position: relative;
  width: 450px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 5px #777;
          box-shadow: 0 0 5px #777;
  margin-top: 20px;
}

.sublist-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.sublist__title {
  margin: 0 0 60px;
  position: relative;
}

.sublist__title::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #ff8b38;
  width: 64px;
  height: 2px;
}

.sublist-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
  margin-bottom: 40px;
  max-width: 410px;
}

.sublist-list {
  padding: 0;
  margin: 0;
}

.sublist-list__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.sublist-list__item:last-of-type {
  margin-bottom: 0;
}

.sublist-list__img {
  height: 40px;
  width: 40px;
  border: 2px solid #ff8b38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
  border-radius: 50%;
}

.sublist-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin: 0;
}

.sublist-list__text {
  margin: 0;
  margin-top: 5px;
  color: #86878b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  max-width: 350px;
}

.standard {
  padding: 90px 0 130px;
  background-color: #f5f5f5;
}

.standard-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.standard-photo {
  position: relative;
  width: 450px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 5px #777;
          box-shadow: 0 0 5px #777;
}

.standard-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.standard__title {
  margin: 0 0 60px;
  position: relative;
}

.standard__title::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #ff8b38;
  width: 64px;
  height: 2px;
}

.standard-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
  max-width: 410px;
}

.features {
  padding: 105px 0;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features__title::after {
  content: '';
  display: block;
  margin: 30px auto 0;
  background-color: #ff8b38;
  width: 64px;
  height: 2px;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
}

.features-item__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 29px 0;
}

.features-item__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #86878b;
  max-width: 340px;
  margin: 0;
}

.price {
  padding: 108px 0 96px;
  background-color: #f5f5f5;
}

.price__title::after {
  content: '';
  display: block;
  margin: 30px auto 0;
  background-color: #ff8b38;
  width: 64px;
  height: 2px;
}

.price-card {
  min-width: 345px;
  text-align: center;
  background-color: #333333;
  vertical-align: bottom;
}

.price-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.price-card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  border-bottom: 1px solid #f5f5f5;
  margin: 0;
  padding: 21px 0;
}

.price-card__number {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 94px;
  font-weight: 700;
  color: #fff;
}

.price-card__dollar {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.price-card__desc {
  font-size: 14px;
  color: #fff;
  opacity: .5;
  font-style: italic;
  font-weight: 400;
  margin: 12px 0 18px;
}

.price-card__popular {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff8b38;
  padding: 14px;
}

.price-card__item {
  background-color: #fff;
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px;
  border-bottom: 1px solid #f5f5f5;
}

.price-card__item:first-of-type {
  border-top: 5px solid #ff8b38;
}

.price-card__item:last-of-type {
  border-bottom: none;
}

.reviews {
  padding: 108px 0 101px;
}

.reviews__title::after {
  content: '';
  display: block;
  margin: 30px auto 0;
  background-color: #ff8b38;
  width: 64px;
  height: 2px;
}

.reviews__subtitle {
  margin-bottom: 55px;
}

.reviews-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviews__text {
  background-color: #f5f5f5;
  padding: 24px 12px;
  max-width: 270px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #86878b;
  border-radius: 3px;
  margin-bottom: 25px;
  position: relative;
}

.reviews__text::after {
  content: '';
  position: absolute;
  left: 25px;
  bottom: -25px;
  border: 10px solid transparent;
  border-top: 15px solid #f5f5f5;
}

.reviews__photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.reviews__name {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
}

.reviews__prof {
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
}
/*# sourceMappingURL=main.css.map */